streamlit==1.45.1
bambi==0.15.0
arviz==0.21.0
pandas==2.2.3
numpy==2.2.6
pymc==5.22.0
pytensor==2.30.3
xarray==2025.4.0
xarray-einstats==0.9.0
scipy==1.15.3
matplotlib==3.10.3
reportlab==4.0.4
